repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        description: Prevents adding large files to the repository
      - id: check-merge-conflict
        description: Prevents adding files with merge conflict markers
      - id: check-toml
        description: Checks TOML files for syntax errors
      - id: name-tests-test
        description: Checks that test files are named correctly
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]
  - repo: https://github.com/ComPWA/pyright-pre-commit
    rev: "v1.1.393"
    hooks:
      - id: pyright
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.2
    hooks:
      - id: bandit
        description: Checks Python code for security issues
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", "./api/.secrets.baseline"]
        # Note: `exclude` is a regex matched against the file path (not a glob).
        exclude: "(^|/)(\\.kontinuous/|\\.github/)|\\.env\\.example$|request\\.http$|pnpm-lock\\.yaml$"
