# Dependencies
node_modules
pnpm-debug.log*

# Testing
/coverage
*.test.js
*.spec.js

# Next.js
/.next/
/out/
/build
.next

# Development
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile
.docker
docker-compose*

# Misc
README.md
LICENSE
*.log
.env*